.about {
  padding-top: 32px;
  padding-bottom: 26px;
}

.about__title {
  margin-bottom: 28px;
}

.about__list {
  @include list-reset;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  color: #000000;
}

.about__item {
  margin-bottom: 29px;
  padding-top: 54px;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.about__item:last-child {
  margin-bottom: 0;
}

.about__item--flower {
  background-image: url("../img/flower-icon.svg");
  background-size: 33px 38px;
  background-position: 7px 0;
}

.about__item--money {
  background-image: url("../img/money-icon.svg");
  background-size: 47px 27px;
}

.about__item--heart {
  background-image: url("../img/heart-icon.svg");
  background-size: 34px 27px;
  background-position: 7px 6px;
}

.about__item--threads {
  background-image: url("../img/threads-icon.svg");
  background-size: 35px 34px;
}

.about__item--rocket {
  background-image: url("../img/rocket-icon.svg");
  background-size: 55px 23px;
  background-position: 0 4px;
}

.about__item--gift {
  background-image: url("../img/gift-icon.svg");
  background-size: 33px 32px;
}

@media (min-width: $tablet-width) {
  .about {
    padding-top: 57px;
    padding-bottom: 55px;
  }

  .about__title {
    margin-bottom: 42px;
  }

  .about__list {
    //column-count: 2;
    //column-width: auto;
    font-size: 20px;
    line-height: 22px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    row-gap: 27px;
  }

  .about__item--flower,
  .about__item--money,
  .about__item--heart {
    grid-column: 1/7;
    max-width: 240px;
  }

  .about__item--threads,
  .about__item--rocket,
  .about__item--gift {
    grid-column: 7/13;
    max-width: 320px;
  }

  .about__item--flower {
    order: 1;
  }

  .about__item--threads {
    order: 2;
  }

  .about__item--money {
    order: 3;
  }

  .about__item--rocket {
    order: 4;
  }

  .about__item--heart {
    order: 5;
  }

  .about__item--gift {
    order: 6;
  }
}

@media (min-width: $desktop-width) {
  .about {
    padding-top: 68px;
    padding-bottom: 61px;
  }

  .about__container {
    padding-left: 226px;
  }

  .about__title {
    margin-bottom: 43px;
  }

  .about__list {
    width: 80%;
    //padding-left: 176px;
  }
}
