.basket .basket__link-icon {
  margin-right: 23px;
}

@media (min-width: $tablet-width) {
  .basket {
    flex-grow: 1;
  }

  .basket .basket__link-icon {
    margin: 0 31px 0 30px;
  }
}

@media (min-width: $desktop-width) {
  .basket .basket__link-icon {
    margin: 0 31px;
  }
}
