.cards {
  padding-top: 30px;
}

.cards__list {
  @include list-reset;
}

.cards__item {
  margin-bottom: 30px;
}

.cards__image-link {
  background-color: $grey-color2;
  display: block;
  width: 100%;
  //height: 195px;
}

.cards__image-link:hover ~ .cards__wrapper {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
}

.cards__image-link:active ~ .cards__wrapper {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

.cards__image {
  display: block;
  //width: 100%;
  //object-fit: contain;
  width: 100%;
  height: auto;
  //margin: 0 auto;
  object-fit: cover;
  background-color: $grey-color4;
}

.cards__wrapper {
  padding: 26px 28px 0 28px;
  border: 1px solid $grey-color4;

  &:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }
}

.cards__link {
  text-decoration: none;
  display: inline-block;
  margin-bottom: 5px;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.cards__title {
  @include margin-reset;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  color: $title-color;
  text-align: left;
}

.cards__info {
  @include margin-reset;
  font-size: 13px;
  margin-bottom: 17px;
}

.cards__footer {
  padding: 14px 0 18px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid $grey-color4;
}

.cards__cost {
  @include margin-reset;
  font-weight: bold;
  line-height: 24px;
  color: $title-color;
}

.cards__button {
  background-color: transparent;
  border: none;
  width: 40px;
  height: 40px;
  //margin-right: -11px;
  //margin-top: -3px;
  position: relative;
}

.cards__button-icon {
  fill: $title-color;
  opacity: 0.2;
  width: 21px;
  height: 18px;
  position: absolute;
  top: 27%;
  left: 53%;
}

.cards__button:hover .cards__button-icon {
  fill: $green-color5;
  opacity: 1;
}

.cards__button:active .cards__button-icon {
  fill: $green-color5;
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .cards {
    padding-top: 68px;
    padding-bottom: 20px;
  }

  .cards__item {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 54px;
  }

  .cards__item:last-child {
    margin-bottom: 32px;
  }

  .cards__image-link {
    width: 50%;
    //height: 334px;
  }

  .cards__image {
    //width: 334px;
    //height: 334px;
  }

  .cards__wrapper {
    width: 50%;
    padding: 25px 39px 0 32px;
    position: relative;
  }

  .cards__title {
    font-size: 20px;
  }

  .cards__info {
    font-size: 15px;
    //margin-bottom: 172px;
    margin-bottom: 20px;
  }

  .cards__footer {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 65px);
  }

  .cards__button-icon {
    top: 23%;
  }
}

@media (min-width: $desktop-width) {
  .cards {
    padding-top: 111px;
    padding-bottom: 0;
  }

  .cards__list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .cards__item {
    flex-direction: column;
    margin-bottom: 57px;
    margin-right: 52px;
    width: 30%;
  }

  .cards__item:last-child {
    margin-bottom: 30px;
  }

  .cards__item:nth-child(3n) {
    margin-right: 0;
  }

  .cards__image-link {
    width: 100%;
    //height: 462px;
  }

  .cards__image {
    width: 316px;
    height: 462px;
  }

  .cards__wrapper {
    width: 100%;
    padding: 27px 26px 0 28px;
    min-height: 197px;
    //position: relative;
  }

  .cards__info {
    margin-bottom: 12px;
  }

  .cards__footer {
    width: calc(100% - 55px);
  }

  .cards__button-icon {
    top: 27%;
    left: 40%;
  }
}
