.form-main__legend {
  @include margin-reset;
  padding-top: 17px;
  font-size: 13px;
  line-height: 24px;
  margin-bottom: 29px;
}

@media (min-width: $tablet-width) {
  .form-main {
    padding-right: 0;
    padding-left: 0;
  }

  .form-main__legend {
    padding: 54px 50px 0 50px;
    margin-bottom: 13px;
    font-size: 17px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .form-main {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
  }

  .form-main__legend {
    padding: 98px 33px 16px 33px;
    grid-column: 2/3;
  }
}
