.form-main {
  min-width: 320px;
  margin: 0 auto;
  box-sizing: border-box;
}

.form-main__legend {
  @include margin-reset;
  padding: 17px 30px 0 30px;
  font-size: 13px;
  line-height: 24px;
  margin-bottom: 31px;
}

@media (min-width: $tablet-width) {
  .form-main {
    padding-right: 0;
    padding-left: 0;
  }

  .form-main__legend {
    padding: 56px 50px 0 50px;
    margin-bottom: 13px;
    font-size: 17px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .form-main {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
  }

  .form-main__legend {
    padding: 98px 33px 16px 33px;
    grid-column: 2/3;
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
  }
}
