.form {
  padding-bottom: 55px;
}

.form__block {
  border: none;
  padding: 0;
}

.form__block-legend {
  font-weight: bold;
  font-size: 17px;
  line-height: 16px;
  color: $green-color1;
}

.form__list {
  @include list-reset;
}

.form__label {
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  color: $title-color;
}

.form__textarea,
.form input[type="text"],
.form input[type="tel"],
.form input[type="email"] {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 19px;
}

.form__textarea {
  border: solid 2px $title-color;

  &:hover {
    border: solid 2px $green-color5;
  }

  &:focus {
    color: $text-color;
  }
}

.form input[type="text"],
.form input[type="tel"],
.form input[type="email"] {
  border: none;
  border-bottom: solid 2px $title-color;

  &:hover {
    border-bottom: solid 2px $green-color5;
  }

  &:focus {
    color: $text-color;
  }
}

.form input[type="text"]::-webkit-input-placeholder,
.form input[type="email"]::-webkit-input-placeholder,
.form input[type="tel"]::-webkit-input-placeholder,
.form__textarea::placeholder {
  color: $grey-color5;
  font-size: 17px;
  line-height: 18px;
}

.form input[type="text"]::-moz-placeholder,
.form input[type="email"]::-moz-placeholder,
.form input[type="tel"]::-moz-placeholder,
.form__textarea::placeholder {
  color: $grey-color5;
  font-size: 17px;
  line-height: 18px;
}

.form input[type="text"]::placeholder,
.form input[type="tel"]::placeholder,
.form input[type="email"]::placeholder,
.form__textarea::placeholder {
  color: $grey-color5;
  font-size: 17px;
  line-height: 18px;
}

//.form__textarea:focus,
//.form input[type="text"]:focus,
//.form input[type="tel"]:focus,
//.form input[type="email"]:focus {
//  color: $text-color;
//}

.form__sup {
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 30px;
}
