.form {
  padding-bottom: 55px;
}

.form__block {
  border: none;
  @include margin-reset;
  margin-bottom: 31px;
}

.form__block-legend {
  @include margin-reset;
  font-weight: bold;
  font-size: 17px;
  line-height: 16px;
  color: $green-color1;
  margin-bottom: 25px;
}

.form__list {
  @include list-reset;
}

.form__label {
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  color: $title-color;
}

.form__textarea,
.form input[type="text"],
.form input[type="tel"],
.form input[type="email"] {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 19px;
}

.form__textarea {
  border: solid 2px $title-color;
  padding: 17px;
  width: 100%;

  &:hover {
    border: solid 2px $green-color5;
  }

  &:focus {
    color: $text-color;
  }
}

.form input[type="text"],
.form input[type="tel"],
.form input[type="email"] {
  border: none;
  border-bottom: solid 2px $title-color;

  &:hover {
    border-bottom: solid 2px $green-color5;
  }

  &:focus {
    color: $text-color;
  }
}

.form input[type="text"]::-webkit-input-placeholder,
.form input[type="email"]::-webkit-input-placeholder,
.form input[type="tel"]::-webkit-input-placeholder,
.form__textarea::placeholder {
  color: $grey-color5;
  font-size: 17px;
  line-height: 18px;
}

.form input[type="text"]::-moz-placeholder,
.form input[type="email"]::-moz-placeholder,
.form input[type="tel"]::-moz-placeholder,
.form__textarea::placeholder {
  color: $grey-color5;
  font-size: 17px;
  line-height: 18px;
}

.form input[type="text"]::placeholder,
.form input[type="tel"]::placeholder,
.form input[type="email"]::placeholder,
.form__textarea::placeholder {
  color: $grey-color5;
  font-size: 17px;
  line-height: 18px;
}

//.form__textarea:focus,
//.form input[type="text"]:focus,
//.form input[type="tel"]:focus,
//.form input[type="email"]:focus {
//  color: $text-color;
//}

.form__group {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.form__column {
  display: flex;
  width: 100%;
}

.form__line {
  flex-grow: 1;
}

.form__button-wrapper {
  display: flex;
  flex-direction: column;
}

.form__button {
  order: 2;
}

.form__sup {
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 30px;
  order: 1;
}

@media (min-width: $tablet-width) {
  .form__block {
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 50px 0;
  }

  .form__block-legend {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .form__list {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  .form__line {
    margin-bottom: 40px;
  }

  .form__line-name {
    margin-right: 25px;
  }

  .form__button-wrapper {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
  }

  .form__button {
    width: 230px;
  }
}

@media (min-width: $desktop-width) {
  .form {
    grid-column: 1/-1;
  }

  .form__block {
    grid-template-columns: 1fr 5fr;
  }

  .form__list {
    grid-column: 2/7;
  }
}
