.intro {
  background-image: url("../img/intro-back.png");
  background-repeat: no-repeat;
  background-size: 320px 373px;
  background-position: center top;
  width: 100%;

  background-color: $grey-color8;
}

.intro__container {
  display: grid;
  grid-template-rows: 1fr 206px;
  min-height: 507px;
}

.intro__title {
  @include margin-reset;
  font-weight: bold;
  font-size: 27px;
  text-align: center;
  margin: 0 auto 138px auto;
  width: 100%;
  max-width: 375px;
  padding: 73px 30px 0 30px;
}

.intro__list {
  @include list-reset;
}

.intro__item {
  width: 100%;
}

.intro__link {
  color: $main-color;
  text-decoration: none;
  display: block;
  font-size: 19px;
  line-height: 24px;
  padding: 24px 0 31px 30px;
}

.intro__link--light {
  background-color: $green-color1;

  &:hover {
    background-color: $green-color3;
  }
}

.intro__link--dark {
  background-color: $green-color2;

  &:hover {
    background-color: $green-color4;
  }
}

.intro__link span {
  width: 125px;
  display: block;
}

@media (min-width: $tablet-width) {
  .intro__container {
    padding: 0 50px;
    grid-template-rows: 1fr auto;
    min-height: 480px;
  }

  .intro__title {
    font-size: 43px;
    line-height: 50px;
    max-width: 660px;
  }

  .intro__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
  }

  .intro__link {
    font-size: 20px;
    line-height: 30px;
    padding: 25px 34px 36px;
  }
}

@media (min-width: $desktop-width) {
  .intro__list {
    max-width: 1150px;
    margin-left: auto;
    margin-right: auto;
  }

  .intro__link {
    padding-left: 37px;
  }
}
