.intro {
  background-image: url("../img/intro-back-mobile@1x.png");
  background-repeat: no-repeat;
  background-size: 320px 373px;
  background-position: center top;
  width: 100%;
  background-color: $grey-color8;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/intro-back-mobile@2x.png");
    background-size: 320px auto;
  }
}

.intro__container {
  display: grid;
  grid-template-rows: 1fr 206px;
  min-height: 507px;
}

.intro__title {
  @include margin-reset;
  font-weight: bold;
  font-size: 27px;
  text-align: center;
  margin: 0 auto 138px auto;
  width: 100%;
  max-width: 375px;
  padding: 73px 30px 0 30px;
}

.intro__list {
  @include list-reset;
}

.intro__item {
  width: 100%;
}

.intro__link {
  color: $main-color;
  text-decoration: none;
  display: block;
  font-size: 19px;
  line-height: 24px;
  padding: 24px 0 31px 30px;
  background-repeat: no-repeat;
}

.intro__link--light {
  background-color: $green-color1;
  background-image: url("../img/interior-icon.svg");
  background-size: 40px 62px;
  background-position: 90% 23px;

  &:hover {
    background-color: $green-color3;
  }
}

.intro__link--dark {
  background-color: $green-color2;
  background-image: url("../img/toy-icon.svg");
  background-size: 60px 60px;
  background-position: 90% 21px;

  &:hover {
    background-color: $green-color4;
  }
}

.intro__link span {
  width: 125px;
  display: block;
}

@media (min-width: $tablet-width) {
  .intro {
    position: relative;
    background-image: url("../img/intro-back-tablet-desktop@1x.png");
    background-size: 768px 746px;
    background-position: center -70px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/intro-back-tablet-desktop@2x.png");
      background-size: 768px auto;
    }

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 24px;
      background-color: transparent;
      background-image: url("../img/zigzag-mask.svg");
      background-repeat: repeat-x;
      background-size: auto 24px;
      background-position: 0 0;
      bottom: -1px;
      left: 0;
      z-index: 2;
    }
  }

  .intro__container {
    padding: 0 50px;
    grid-template-rows: 1fr auto;
    min-height: auto;
  }

  .intro__title {
    font-size: 43px;
    line-height: 50px;
    max-width: 660px;
    padding-top: 89px;
    margin-bottom: 372px;
  }

  .intro__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
  }

  .intro__link {
    font-size: 20px;
    line-height: 30px;
    padding: 25px 36px 46px;
  }

  .intro__link--light {
    background-size: 41px 62px;
  }

  .intro__link--dark {
    background-size: 61px 61px;
  }
}

@media (min-width: $desktop-width) {
  .intro {
    &::before {
      height: 34px;
      background-size: auto 34px;
    }
  }

  .intro__container {
    max-width: 1150px;
    margin: 0 auto;
  }

  .intro__title {
    font-size: 53px;
    line-height: 57px;
    max-width: 675px;
    margin-bottom: 355px;
    padding-top: 94px;
  }

  .intro__list {
    max-width: 1150px;
    margin-left: auto;
    margin-right: auto;
  }

  .intro__link {
    padding-left: 37px;
  }
}
