.main-nav {
  position: relative;
}

//.main-nav__wrapper {
//  display: grid;
//  grid-template-columns: 1fr 40px;
//  grid-template-rows: 1fr auto;
//  box-shadow: 0 1px 0 $grey-color4, inset 0 1px 0 $grey-color4;
//  padding-top: 22px;
//  padding-bottom: 22px;
//}

@media (max-width: $mobile-width-only) {
  .main-nav__toggle {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 40px;
    height: 40px;
    background-color: $main-color;
    border: none;
    background-position: center;
    background-repeat: no-repeat;
  }

  .main-nav--closed .main-nav__toggle {
    background-size: 20px 14px;
    background-image: url("../img/menu-burger.svg");
  }

  .main-nav--open .main-nav__toggle {
    background-size: 21px 20px;
    background-image: url("../img/menu-close.svg");
  }
}
//.main-nav__logo--mobile {
//  height: 35px;
//  text-align: center;
//}

//.main-nav__menu {
//  width: 320px;
//  margin: 0 auto;
//}

@media (min-width: $tablet-width) {
  //.main-nav {
  //  display: block;
  //}

  //.main-nav__wrapper {
  //  display: none;
  //}

  .main-nav {
    display: grid;
    grid-template-columns: 49% 51%;
    width: auto;
  }

  //.main-nav__logo--mobile {
  //  display: none;
  //}

  .main-nav__toggle {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    grid-template-columns: 2fr 1fr;
  }
}
