.modal {
  padding: 28px 30px 46px 30px;
  width: 100%;
  max-width: 566px;
  margin: 0 auto;
  border: 1px solid $grey-color9;
  box-shadow: 0 5px 10 $grey-color10;
}

.modal__title {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 14px;
}

.modal__instruction {
  @include margin-reset;
  text-align: center;
}

.modal__wrapper {
  margin-bottom: 21px;
}

.modal__button {
  font-weight: bold;
  font-size: 17px;
  line-height: 16px;
}

.modal__basket-button {
  font-weight: bold;
  font-size: 17px;
  line-height: 16px;
  background-color: $green-color1;
  color: $main-color;
  border: none;
  width: 100%;
  text-align: center;

  &:hover {
    background-color: $green-color3;
  }

  &:focus {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .modal {
    padding: 37px 92px 46px 92px;
  }

  .modal__title {
    font-size: 30px;
  }
}

@media (min-width: $tablet-width) {
  .modal__title {
    line-height: 57px;
  }
}
