.modal {
  padding: 28px 30px 46px 30px;
  width: 100%;
  max-width: 566px;
  margin: 0 auto;
  border: 1px solid $grey-color9;
  box-shadow: 0 5px 10 $grey-color10;
}

.modal__title {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 14px;
}

.modal__instruction {
  @include margin-reset;
  text-align: center;
  margin-bottom: 21px;
}

.modal__wrapper {
  margin-bottom: 31px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal__button {
  font-weight: bold;
  font-size: 17px;
  line-height: 16px;
  width: 32%;
}

.modal__basket-button {
  font-weight: bold;
  font-size: 17px;
  line-height: 16px;
  background-color: $green-color1;
  color: $main-color;
  border: none;
  width: 100%;
  text-align: center;
  padding: 18px;
  text-transform: uppercase;

  &:hover {
    background-color: $green-color3;
  }

  &:focus {
    opacity: 0.3;
  }
}

.modal__button label {
  background-color: $main-color;
  padding: 16px 22px;
  display: inline-block;
  cursor: pointer;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.3s;
  transition-property: box-shadow;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
}

.modal__button input {
  display: none;
}

.modal__button input ~ label {
  border: 2px solid $grey-color12;
  background-color: $main-color;
}

.modal__button input:hover ~ label {
  border: 2px solid $grey-color13;
}

.modal__button input:checked ~ label {
  border: 2px solid $green-color1;
}

@media (min-width: $tablet-width) {
  .modal {
    padding: 37px 92px 46px 92px;
  }

  .modal__title {
    font-size: 30px;
  }
}

@media (min-width: $desktop-width) {
  .modal__title {
    line-height: 57px;
  }
}
