.page-footer {
  padding-top: 15px;
  padding-bottom: 23px;
  background-color: $grey-color2;
}

.page-footer__logo {
  display: none;
}

@media (min-width: $tablet-width) {
  .page-footer {
    padding-top: 41px;
    padding-bottom: 48px;
  }

  .page-footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .page-footer__logo {
    display: block;
    width: 102px;
    height: 34px;

    &:hover svg path {
      fill: $green-color4;
    }

    &:active svg path {
      opacity: 0.3;
    }
  }

  .page-footer__logo-image {
    width: 102px;
    height: 34px;
  }
}
