.page-title {
  @include margin-reset;
  font-weight: bold;
  font-size: 27px;
  color: $title-color;
  background-color: $grey-color2;
  text-align: center;
  padding-top: 73px;
  padding-bottom: 73px;
}

@media (min-width: $tablet-width) {
  .page-title {
    font-size: 43px;
    line-height: 50px;
    padding-top: 56px;
    padding-bottom: 87px;
  }
}

@media (min-width: $desktop-width) {
  .page-title {
    font-size: 53px;
    line-height: 57px;
    padding-top: 57px;
    padding-bottom: 95px;
  }
}
