.page-header {
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  color: $title-color;
}

@media (min-width: $tablet-width) {
  //.page-header {
  //  box-shadow: none;
  //  padding: 0 50px;
  //}
}
