.page-header {
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  color: $title-color;
  min-height: 79px;
}

.page-header--inner .site-list__logo:hover {
  opacity: 0.6;
}

.page-header--inner .site-list__logo:active {
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .page-header {
    padding: 0 50px;
    background: linear-gradient(to bottom, $main-color 88px, $grey-color7 88px, $grey-color7 89px, $grey-color8 89px, $grey-color8);
  }

  .page-header--inner {
    background: linear-gradient(to bottom, $main-color 88px, $grey-color7 88px, $grey-color7 89px, $grey-color2 89px, $grey-color2);
  }
}
