.reviews {
  padding-top: 32px;
  padding-bottom: 45px;
}

.reviews__title {
  margin-bottom: 14px;
}

.reviews__button {
  color: $text-color;
  text-align: center;
  text-decoration: none;
}

@media (min-width: $tablet-width) {
  .reviews {
    padding-top: 82px;
    padding-bottom: 47px;
    margin-bottom: 68px;
  }

  .reviews__container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, auto);
  }

  .reviews__title {
    grid-column: 1/10;
    grid-row: 1/2;
  }

  .reviews__button {
    grid-column: 10/13;
    grid-row: 1/2;
    justify-content: end;
    align-self: start;
  }

  .reviews__content {
    grid-column: 1/-1;
  }
}

@media (min-width: $desktop-width) {
  .reviews {
    padding-top: 78px;
    padding-bottom: 96px;
    margin-bottom: 67px;
  }

  .reviews__container {
    padding-left: 226px;
  }
}
