.searching__button {
  @include margin-reset;
  border: none;
  background-color: $main-color;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  color: $title-color;
  padding: 28px 0 26px 46px;
}

@media (min-width: $tablet-width) {
  .searching__button {
    padding: 32px 0 32px 0;
  }
}
