.searching__button {
  @include margin-reset;
  border: none;
  background-color: $main-color;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  color: $title-color;
  padding: 27px 30px 26px 32px;
}

.searching__button .searching__button-icon {
  margin-right: 25px;
}

@media (min-width: $tablet-width) {
  .searching__button {
    padding: 35px 32px 29px 32px;
    border-left: 1px solid $grey-color4;
    border-right: 1px solid $grey-color4;
  }

  .searching__button span {
    display: none;
  }

  .searching__button .searching__button-icon {
    margin-right: 0;
  }
}

@media (min-width: $desktop-width) {
  .searching__button {
    padding: 32px;
  }
}
