.site-list {
  @include list-reset;
}

.site-list__item--logo {
  box-shadow: 0 1px 0 $grey-color4, inset 0 1px 0 $grey-color4;
}

.site-list__logo {
  text-align: center;
  min-height: 79px;
  display: block;
  padding: 19px 0;
}

.site-list__links {
  @include list-reset;
}

.site-list__links-item {
  border-bottom: 1px solid $grey-color4;
}

.site-list__link {
  color: $title-color;
  text-decoration: none;
  display: block;
  padding: 28px 30px 26px 76px;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .site-list__links {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  .site-list__item--logo {
    box-shadow: none;
  }

  .site-list__logo {
    padding: 22px 0 20px 0;
    height: 88px;
    text-align: left;
  }

  .site-list__links-item {
    border-bottom: none;
  }

  .site-list__link {
    padding: 20px 29px 20px 0;
    font-size: 15px;
  }

  .site-list__links-item:nth-child(3),
  .site-list__links-item:nth-child(4) {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .site-list {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .site-list__item--logo {
    order: 2;
    margin-right: 101px;
  }

  .site-list__links {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 41px;
  }

  .site-list__links-item {
    font-size: 15px;
  }

  .site-list__links-item:nth-child(-n+2) {
    padding: 12px 0;
  }

  .site-list__links-item:nth-child(-n+2) .site-list__link {
    font-size: 17px;
  }

  .site-list__links-item:nth-child(3),
  .site-list__links-item:nth-child(4) {
    display: block;
  }
}
