.slider__list {
  @include list-reset;
}

.slider__item {
  display: none;
}

.slider__item--current {
  display: block;
}

.slider__text,
.slider__author {
  @include margin-reset;
  margin-bottom: 30px;
}

.slider__author {
  display: flex;
  flex-direction: column;
}

.slider__text {
  margin-bottom: 33px;
}

.slider__name {
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  color: $title-color;
}

.slider__nick {
  font-size: 17px;
}

.slider__controls {
  margin-bottom: 38px;
  font-size: 0;
}

.slider__button {
  background-color: transparent;
  border: 1px solid $grey-color4;
  padding: 26px 48px 26px 32px;
  background-image: url("../img/huge-arrow-left.svg");
  background-repeat: no-repeat;
  background-size: 50px 26px;
  background-position: 48% 50%;
  width: 50%;

  &:hover {
    opacity: 0.6;
  }

  &:active {
   opacity: 0.3;
  }
}

.slider__button:last-child {
  border-right: none;
  transform: rotate(180deg);
}

@media (min-width: $tablet-width) {
  .slider {
    position: relative;
  }

  .slider__text {
    margin-bottom: 61px;
  }

  .slider__name {
    font-size: 18px;
  }

  .slider__author {
    margin-bottom: 0;
  }

  .slider__controls {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
    width: 175px;
    margin-bottom: 0;
  }

  .slider__button {
    border: none;
  }
}
