.user-list {
  @include list-reset;
}

.user-list__item {
  border-bottom: 1px solid $grey-color4;
}

.user-list__link-icon {
  fill: $title-color;
  opacity: 0.2;
}

.user-list__link {
  color: $title-color;
  text-decoration: none;
  display: block;
  padding: 28px 30px 26px 30px;

  &:hover span {
    opacity: 0.6;
  }

  &:active span {
    opacity: 0.3;
  }

  &:hover .user-list__link-icon {
    fill: $green-color5;
    opacity: 1;
  }

  &:active .user-list__link-icon {
    fill: $green-color5;
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .user-list {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-self: flex-start;
    justify-content: flex-end;
  }

  .user-list__item {
    border-bottom: none;
  }

  .user-list__link {
    padding: 32px 0 32px 0;
  }
}
