.video {
  margin-bottom: 58px;
}

.video__container {
  border: 1px solid $grey-color4;
  padding-bottom: 33px;
}

.video__title {
  @include margin-reset;
  padding-top: 21px;
  padding-left: 91px;
  padding-right: 13px;
  margin-bottom: 26px;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  color: $title-color;
}

//.video__info-wrapper .video__title {
//  display: none;
//}

.video__text {
  @include margin-reset;
  font-size: 13px;
  line-height: 24px;
  padding-left: 34px;
  margin-bottom: 41px;
}

.video__order-link-wrapper {
  width: 100%;
  padding: 0 34px 0 34px;
}

.video__order-link {
  text-decoration: none;
  text-align: center;
}

@media (min-width: $tablet-width) {
  //.video__title--mobile {
  //  display: none;
  //}
  //
  //.video__info-wrapper .video__title {
  //  display: block;
  //}

  .video__container {
    display: flex;
    flex-direction: column;
    padding-bottom: 46px;
  }

  .video__block {
    order: 1;
  }

  .video__title {
    order: 2;
    padding-left: 107px;
    padding-top: 41px;
    font-size: 20px;
  }

  .video__text {
    order: 3;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 15px;
    line-height: 30px;
  }

  .video__order-link-wrapper {
    order: 4;
    max-width: 584px;
    margin: 0 auto;
    padding: 0;
  }
}

@media (min-width: $tablet-width) {
  .video__container {
    display: grid;
    grid-template-columns: 683px auto;
    grid-template-rows: repeat(3, auto);
    padding-bottom: 0;
  }

  .video__block {
    grid-column: 1/2;
    grid-row: 1/-1;
  }

  .video__title {
    padding-top: 96px;
    padding-left: 80px;
    padding-right: 57px;
  }

  .video__text {
    padding-left: 80px;
    padding-right: 57px;
  }

  .video__order-link-wrapper {
    padding: 0 57px 60px 80px;
  }
}
