$main-color: rgb(255, 255, 255);
$title-color: rgb(0, 0, 0);
$text-color: rgb(68, 68, 68);
$grey-color: rgb(250, 250, 250);
$green-color1: rgb(99, 209, 187);
$green-color2: rgb(86, 195, 178);
$green-color3: rgb(89, 213, 188);
$green-color4: rgb(70, 193, 174);
$green-color5: rgb(98, 209, 186);
$grey-color2: rgb(241, 241, 241);
$grey-color3: rgba(0, 0, 0, 0.2);
$grey-color4: rgb(236, 236, 236);
$grey-color5: rgba(0, 0, 0, 0.3);
$grey-color6: rgba(255, 255, 255, 0.3);
$grey-color7: rgba(0, 0, 0, 0.1);
$grey-color8: rgb(249, 249, 249);
$grey-color9: rgb(198, 198, 198);
$grey-color10: rgba(0, 1, 1, 0.25);
$grey-color11: rgb(35, 31, 32);
$grey-color12: rgba(68, 68, 68, 0.1);
$grey-color13: rgba(68, 68, 68, 0.3);
$grey-color14: rgb(229, 229, 229);
$tablet-width: 768px;
$desktop-width: 1150px;
$mobile-width-only: 767px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
